html,body{height:100%;}
body{}
#owl-cont{width:100%;height:100%;/*overflow-y:hidden;overflow-x:auto;*/overflow:hidden;}
#owl-demo{position:relative;left:0;}
.item{height:100%;position:relative;}
.item .page{width:50%;height:100%;position:relative;left:0;top:0;float:left;background-size:contain;background-repeat:no-repeat;background-position:center center;}
.item .page img{width:100%;height:100%;display:block;position:absolute;background-color:cyan;}
.activeD{position:fixed;width:100%;height:0;z-index:4;}
.activeD a{cursor:pointer;}
.activeD .prev{position:fixed;left:0;}
.activeD .next{position:fixed;right:0;}