<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        //$(function () {
        //    var data = "";
        //    var url = '/api/Students/1'
        //    $.ajax({
        //        type: "GET",
        //        url: url,
        //        data: data,
        //        async: false,
        //        success: function (response) {
        //            data = response;
        //        },
        //        error: function () {
        //        }
        //    });
            
        //})
        //$(function () {
        //    var data = { UserID: 'f46fff02-9e9d-46fa-88c0-a81bbf3927c0', BookID: '413' };
        //    var url = '/api/GetUnitInfo';
        //    $.ajax({
        //        type: "get",
        //        url: url,
        //        data: data,
        //        async: false,
        //        success: function (response) {
        //            data = response;
        //            alert(data);
        //        },
        //        error: function () {
        //        }
        //    });
        //})
        //$(function () {
        //    var data = { account: 'f46fff02-9e9d-46fa-88c0-a81bbf3927c0', password: '1' };
        //    var url = '/WebApi/api/Check';
        //    $.ajax({
        //        type: "get",
        //        url: url,
        //        data: data,
        //        async: false,
        //        success: function (response) {
        //            data = response;
        //            alert(data);
        //        },
        //        error: function () {
        //        }
        //    });
        //})
        //$(function () {
        //    var data = { UserID: '0050bac6-aed4-4b5a-8c77-5eb635706a33', FilePath: 'D:\\123.png' };
        //    var url = '/api/UploadAvatar/';
        //    $.ajax({
        //        type: "Post",
        //        url: url,
        //        data: data,
        //        async: false,
        //        success: function (response) {
        //            data = response;
        //            alert(data);
        //        },
        //        error: function () {
        //        }
        //    });
        //})
        //$(function () {
        //    var data = { ID: "c0301d7d-6fcb-4088-855a-8caefbedcfd9", OldPasswd: '123456', NewPasswd: '1' };
        //    var url = '/api/Alter/c0301d7d-6fcb-4088-855a-8caefbedcfd9';
        //    $.ajax({
        //        type: "post",
        //        url: url,
        //        data: data,
        //        async: false,
        //        success: function (response) {
        //            data = response;
        //            alert(data);
        //        },
        //        error: function () {
        //        }
        //    });
        //});
        //$(function () {
        //    var data = { ID: "131b1f49-7064-4fba-a380-9c169701a818", OldPasswd: '123456', NewPasswd: '1' };
        //    var url = 'http://192.168.3.187:1110/api/ChangePasswd/4319f305-8ad1-4cc2-9819-8089825f0cc0';
        //    $.ajax({
        //        type: "post",
        //        url: url,
        //        data: data,
        //        async: false,
        //        success: function (response) {
        //            data = response;
        //            alert(data);
        //        },
        //        error: function () {
        //        }
        //    });
        //});
    </script>
}