<link rel="stylesheet" href="tpl.css">

<div class="only_wrap">
    <section class="statistics">
        <div class="left">
            <h3></h3>
            <ul class="student_list">
            </ul>
        </div>

        <div class="right">
            <h3>答题情况</h3>
            <ul class="analyse_list">
            </ul>
        </div>
    </section>

    <section class="dialog student ">
        <!--学生个人成绩状况-->
        <div class="mask"></div>
        <div class="dialog_cont">
            <button class="closeBtn"></button>
            <h3>学生姓名</h3>
            <div class="wrap">
                <div class="score">
                    <b>评测结果:</b>
                    <span class="grade"></span>
                </div>
                <div class="stu_answer">
                    <h4>回答情况:</h4>
                    <ul>
                    </ul>
                </div>
                <div class="right_answer">
                    <h4>正确答案:</h4>
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="dialog error">
        <!--错误名单-->
        <div class="mask"></div>
        <div class="dialog_cont">
            <button class="closeBtn"></button>
            <h3><i>第一题</i><b>错误名单</b></h3>
            <div class="wrap">
                <ul>

                </ul>
            </div>
        </div>
    </section>

    <section class="dialog explain ">
        <!--错题讲解-->
        <div class="mask"></div>
        <div class="dialog_cont">
            <!--<button class="closeBtn">X</button>-->
            <div class="wrap">
                <h3></h3>
                <ul>

                </ul>
            </div>
        </div>
    </section>

    <section class="dialog option">
        <!--选项名单-->
        <div class="mask"></div>
        <div class="dialog_cont">
            <button class="closeBtn"></button>
            <h3><i></i><b>选项名单</b></h3>
            <span class="all">共20人</span>
            <div class="wrap">
                <ul>
                </ul>
            </div>
        </div>
    </section>
</div>

<script src="tpl.js"></script>